// ----------------------------------------------------------------------------
// nf-core/sarek WES germline resource config
// Selected by s02_run_sarek_germline.py when run with --mode wes (passed via -c).
// Lighter than the WGS config; targeted/exome data is much smaller per sample.
// ----------------------------------------------------------------------------

singularity {
  pullTimeout = '60m'
}

process {
  // VEP
  withName: 'NFCORE_SAREK:SAREK:VCF_ANNOTATE_ALL:VCF_ANNOTATE_ENSEMBLVEP:ENSEMBLVEP_VEP' {
    time   = '48h'
    cpus   = 8
    memory = '64 GB'
  }
}
